In [1]:
import pandas as pd
import numpy as np
import pandas as pd
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [2]:
train_data=pd.read_csv('train.csv')

In [3]:
len(set(train_data['Company-response']))

11

In [4]:
test_data=pd.read_csv('test.csv')

In [5]:
for c in train_data.columns:
    if(train_data[c].dtype==object):
        le = LabelEncoder()
        train_data[c]=train_data[c].astype('category')
        train_data[c]=train_data[c].cat.codes

In [6]:
target=train_data['Complaint-Status']

In [7]:
train_data.columns

Index([u'Complaint-ID', u'Date-received', u'Transaction-Type',
       u'Complaint-reason', u'Company-response', u'Date-sent-to-company',
       u'Complaint-Status', u'Consumer-disputes',
       u'Consumer-complaint-summary'],
      dtype='object')

In [8]:
train_data.tail()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Complaint-Status,Consumer-disputes,Consumer-complaint-summary
43261,36960,713,6,69,-1,720,1,-1,23491
43262,36961,31,7,36,-1,31,1,0,11574
43263,36962,379,10,76,-1,321,1,0,5740
43264,36963,671,10,135,1,678,1,-1,34389
43265,36964,647,7,14,4,654,1,-1,37238

In [9]:
train_data['Date-received']=pd.to_datetime(train_data['Date-received'])

train_data['Date-received']=pd.to_datetime(train_data['Date-received'])
train_data['Year']=train_data['Date-received'].dt.year

train_data['Month']=train_data['Date-received'].dt.month

train_data['day']=train_data['Date-received'].dt.day

In [13]:
train_data.head()

,Complaint-ID,Date-received,Transaction-Type,Complaint-reason,Company-response,Date-sent-to-company,Complaint-Status,Consumer-disputes,Consumer-complaint-summary,Year,Month,day
0,0,1970-01-01 00:00:00.000000128,10,78,-1,135,1,1,32712,1970,1,1
1,11111,1970-01-01 00:00:00.000000735,5,71,7,742,3,0,39918,1970,1,1
2,22222,1970-01-01 00:00:00.000000552,0,145,-1,559,1,0,5429,1970,1,1
3,33333,1970-01-01 00:00:00.000000131,7,36,4,138,1,0,35360,1970,1,1
4,37711,1970-01-01 00:00:00.000000895,3,100,9,905,1,0,22874,1970,1,1

In [14]:
train_data=train_data.drop(['Date-received','Date-sent-to-company','Consumer-complaint-summary','Complaint-Status'],1)

In [15]:
train_data.columns

Index([u'Complaint-ID', u'Transaction-Type', u'Complaint-reason',
       u'Company-response', u'Consumer-disputes', u'Year', u'Month', u'day'],
      dtype='object')

In [16]:
train_data['Company-response'].value_counts()

-1    22506
 9    10928
 7     4322
 4     3811
 5      387
 8      379
 1      302
 0      300
 6      166
 3      160
 2        5
Name: Company-response, dtype: int64

In [17]:
len(set(train_data['Complaint-reason']))

150

In [18]:
len(set(train_data['Transaction-Type']))

18

In [19]:
len(set(train_data['Company-response']))

11

In [20]:
train_data.shape

(43266, 8)

In [21]:
train_data.columns

Index([u'Complaint-ID', u'Transaction-Type', u'Complaint-reason',
       u'Company-response', u'Consumer-disputes', u'Year', u'Month', u'day'],
      dtype='object')

# EDA

In [22]:
train_data=train_data.drop(['Complaint-ID'],1)

In [23]:
train_data.shape

(43266, 7)

In [24]:
train_data.head()

,Transaction-Type,Complaint-reason,Company-response,Consumer-disputes,Year,Month,day
0,10,78,-1,1,1970,1,1
1,5,71,7,0,1970,1,1
2,0,145,-1,0,1970,1,1
3,7,36,4,0,1970,1,1
4,3,100,9,0,1970,1,1

In [25]:
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [26]:
train_data.columns

Index([u'Transaction-Type', u'Complaint-reason', u'Company-response',
       u'Consumer-disputes', u'Year', u'Month', u'day'],
      dtype='object')

In [27]:
train_data.head()

,Transaction-Type,Complaint-reason,Company-response,Consumer-disputes,Year,Month,day
0,10,78,-1,1,1970,1,1
1,5,71,7,0,1970,1,1
2,0,145,-1,0,1970,1,1
3,7,36,4,0,1970,1,1
4,3,100,9,0,1970,1,1

In [28]:
current_columns=[u'Complaint-ID', u'Date-received', u'Transaction-Type',
       u'Complaint-reason', u'Date-sent-to-company',
       u'Consumer-disputes',
       u'Year', u'Month', u'day', u'week']

In [29]:
import pandas as pd
import xgboost as xgb
from sklearn.preprocessing import LabelEncoder
import numpy as np

In [30]:
from xgboost import XGBClassifier
from sklearn.metrics import accuracy_score

In [56]:
gbm = xgb.XGBClassifier(max_depth=3, n_estimators=300, learning_rate=0.05,scale_pos_weight=5,min_child_weight=1)

In [57]:
train_data.head()

,Transaction-Type,Complaint-reason,Company-response,Consumer-disputes,Year,Month,day
0,10,78,-1,1,1970,1,1
1,5,71,7,0,1970,1,1
2,0,145,-1,0,1970,1,1
3,7,36,4,0,1970,1,1
4,3,100,9,0,1970,1,1

In [45]:
t_data,d_data,t_label,d_label=train_test_split(train_data,target)

In [46]:
t_data.shape

(32449, 7)

In [47]:
model=gbm.fit(t_data,t_label)

In [48]:
model=gbm.fit(t_data,t_label)
pred=model.predict(d_data)

In [49]:
pred=pd.DataFrame(pred)

In [37]:
pred.describe()

                  0
count  10817.000000
mean       1.014514
std        0.155258
min        1.000000
25%        1.000000
50%        1.000000
75%        1.000000
max        3.000000

In [50]:
from sklearn.metrics import f1_score

In [51]:
pred1=model.predict(t_data)

In [52]:
from sklearn.metrics import f1_score
score1=f1_score(t_label,pred1, average='weighted')

In [53]:
score=f1_score(d_label,pred, average='weighted')

In [54]:
score

0.7176373348124486

In [55]:
score1

0.7094633391921257

In [2]:
sample=pd.read_csv('sample_submission.csv')

NameError: name 'pd' is not defined