In [1]:
# loading libraries
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# load the data

In [3]:
user_train_data=pd.read_csv("train/user_data.csv")
problem_train_data=pd.read_csv("train/problem_data.csv")
submission_train_data=pd.read_csv("train/train_submissions.csv")

In [205]:
X_test=pd.read_csv('train/test_submissions_NeDLEvX.csv')

In [5]:
# Data preparation and dummy variable creation on the basis of tags

In [7]:
#train data adding tag according to the index of problem id

In [6]:
submission_train_data['tags']=submission_train_data['problem_id'].map(problem_train_data.set_index('problem_id')['tags'])

In [8]:
#test data adding tag according to the index of problem id

In [206]:
X_test['tags']=X_test['problem_id'].map(problem_train_data.set_index('problem_id')['tags'])

In [10]:
# creating dummy features with unique tag

In [11]:
tag_features=submission_train_data['tags'].str.split(',' , expand=True ).astype(str)

In [12]:
unique1=set(tag_features[0])
unique2=set(tag_features[1])
unique3=set(tag_features[2])
unique4=set(tag_features[3])
unique5=set(tag_features[4])
unique6=set(tag_features[5])

In [13]:
unique=(unique1|unique2)|(unique3|unique4)|(unique5|unique6)

In [17]:
unique

{'*special',
 '2-sat',
 'None',
 'binary search',
 'bitmasks',
 'brute force',
 'chinese remainder theorem',
 'combinatorics',
 'constructive algorithms',
 'data structures',
 'dfs and similar',
 'divide and conquer',
 'dp',
 'dsu',
 'expression parsing',
 'fft',
 'flows',
 'games',
 'geometry',
 'graph matchings',
 'graphs',
 'greedy',
 'hashing',
 'implementation',
 'math',
 'matrices',
 'meet-in-the-middle',
 'nan',
 'number theory',
 'probabilities',
 'schedules',
 'shortest paths',
 'sortings',
 'string suffix structures',
 'strings',
 'ternary search',
 'trees',
 'two pointers'}

In [15]:
# 38 unique tags

In [16]:
# adding dummy features in both train and test data

In [18]:
submission_train_data=pd.concat([submission_train_data,pd.DataFrame(columns=list(unique))])
submission_train_data.fillna(0, inplace=True)

In [20]:
submission_train_data.shape

(155295, 42)

In [207]:
X_test=pd.concat([X_test,pd.DataFrame(columns=list(unique))])
X_test.fillna(0, inplace=True)

In [24]:
submission_train_data['tags'].replace(0,'strings',inplace=True)

In [208]:
X_test['tags'].replace(0,'strings',inplace=True)

In [22]:
# dummy feature initialization

In [25]:
for column in list(unique):
    for i in (submission_train_data).index:
        if column in list((submission_train_data.loc[i,'tags']).split(',')):
            #ifor_val = 1
            submission_train_data.loc[i,column]=1

In [26]:
# dummy feature initialization for test data

In [209]:
for column in list(unique):
    for i in (X_test).index:
        if column in list((X_test.loc[i,'tags']).split(',')):
            #ifor_val = 1
            X_test.loc[i,column]=1

In [30]:
list(user_train_data)

['user_id',
 'submission_count',
 'problem_solved',
 'contribution',
 'country',
 'follower_count',
 'last_online_time_seconds',
 'max_rating',
 'rating',
 'rank',
 'registration_time_seconds']

In [40]:
# Adding user_features according to the index of user_id

In [36]:
user_predictors=(user_train_data.columns[user_train_data.columns!='user_id'])

In [37]:
user_predictors

Index([u'submission_count', u'problem_solved', u'contribution', u'country',
       u'follower_count', u'last_online_time_seconds', u'max_rating',
       u'rating', u'rank', u'registration_time_seconds'],
      dtype='object')

In [38]:
for column in user_predictors:
    submission_train_data[column]=submission_train_data['user_id'].map(user_train_data.set_index('user_id')[column])

In [39]:
submission_train_data

,*special,2-sat,None,attempts_range,binary search,bitmasks,brute force,chinese remainder theorem,combinatorics,constructive algorithms,...,submission_count,problem_solved,contribution,country,follower_count,last_online_time_seconds,max_rating,rating,rank,registration_time_seconds
0,0,0,0,1.0,0,0,0,0,0,0,...,53,47,0,Bangladesh,1,1503633778,307.913,206.709,beginner,1432110935
1,0,0,0,3.0,0,0,1,0,0,0,...,133,118,0,NaN,0,1502200122,324.255,235.378,beginner,1454664414
2,0,0,0,1.0,0,0,0,0,0,0,...,50,44,0,NaN,7,1504719542,343.177,229.358,beginner,1473490873
3,0,0,0,1.0,0,0,1,0,0,0,...,271,233,23,Indonesia,40,1505175115,436.927,399.083,intermediate,1447736644
4,0,0,0,1.0,0,0,0,0,0,0,...,155,135,0,India,80,1505421849,492.546,472.190,advanced,1437724657
5,0,0,0,1.0,0,0,0,0,0,0,...,173,161,0,NaN,21,1504870431,462.729,462.729,advanced,1480812045
6,0,0,0,1.0,0,0,0,0,0,0,...,855,811,0,Egypt,87,1505561409,398.222,368.979,intermediate,1439756111
7,0,0,0,2.0,0,0,0,0,0,0,...,254,217,0,Brazil,21,1505581625,433.486,395.356,intermediate,1464182831
8,0,0,0,1.0,0,0,0,0,0,0,...,216,199,0,India,28,1505534677,387.328,387.328,intermediate,1443374825
9,0,0,0,1.0,0,0,0,0,0,0,...,390,350,0,Bangladesh,56,1505556770,315.367,217.890,beginner,1384505273
10,0,0,0,1.0,0,0,0,0,0,0,...,439,426,0,China,21,1505555602,524.656,505.447,advanced,1473818621
11,0,0,0,2.0,0,0,1,0,0,1,...,301,227,0,Vietnam,27,1504604213,467.030,337.156,intermediate,1413472596
12,0,0,0,1.0,0,0,0,0,0,1,...,294,268,0,Romania,35,1505035867,475.631,475.631,advanced,1394801704
13,0,0,0,1.0,0,0,0,0,0,0,...,652,595,20,Czechia,132,1505589460,655.677,577.695,advanced,1264978137
14,0,0,0,2.0,0,0,0,0,1,0,...,404,382,0,Bangladesh,351,1505564922,471.330,471.330,advanced,1401604903
15,0,0,0,2.0,0,0,0,0,0,0,...,63,46,0,NaN,8,1485290430,315.654,286.411,beginner,1433181713
16,0,0,0,1.0,0,0,0,0,0,0,...,753,697,0,Spain,36,1505338257,497.420,479.644,advanced,1361908706
17,0,0,0,1.0,0,0,0,0,0,0,...,112,97,0,India,5,1505550351,320.528,295.298,beginner,1474378098
18,0,0,0,1.0,0,0,0,0,0,1,...,50,45,0,Japan,1,1494402344,440.654,440.654,intermediate,1479664011
19,0,0,0,2.0,0,0,0,0,0,0,...,58,51,0,NaN,0,1505552744,330.275,262.901,beginner,1480086231
20,0,0,0,1.0,0,1,0,0,0,0,...,625,536,152,Russia,1054,1505583926,778.670,770.069,expert,1278517887
21,0,0,0,2.0,0,0,0,0,0,0,...,106,93,0,NaN,13,1505560570,413.704,394.209,intermediate,1466175804
22,0,0,0,1.0,0,0,0,0,0,0,...,273,218,-2,Bangladesh,76,1504959860,313.647,258.888,beginner,1446995678
23,0,0,0,1.0,0,0,1,0,0,0,...,728,691,13,India,135,1505475218,442.661,415.998,intermediate,1438803475
24,0,0,0,1.0,0,0,1,0,0,0,...,335,314,0,India,12,1501138300,391.628,391.628,intermediate,1419955527
25,0,0,0,1.0,0,0,0,0,0,0,...,273,247,0,Russia,31,1502089475,482.798,479.931,advanced,1425050679
26,0,0,0,1.0,0,0,0,0,0,0,...,488,412,6,Ukraine,58,1504107513,493.979,461.869,advanced,1328857430
27,0,0,0,4.0,0,0,0,0,0,0,...,240,218,0,Bangladesh,50,1505252563,319.954,291.284,beginner,1385471472
28,0,0,0,1.0,0,0,0,0,0,0,...,286,264,11,Romania,50,1505404965,464.736,422.305,intermediate,1439111687
29,0,0,0,1.0,0,0,1,0,0,0,...,15,8,0,NaN,0,1490814904,307.913,260.894,beginner,1449672047
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
155265,0,0,0,1.0,0,0,0,0,0,0,...,217,199,0,India,19,1502307905,315.940,262.041,beginner,1470933682
155266,0,0,0,1.0,0,0,0,0,0,0,...,105,85,0,India,37,1502782050,393.922,393.922,intermediate,1481711057
155267,0,0,0,1.0,0,0,1,0,0,1,...,894,855,0,Egypt,17,1505527406,325.975,292.718,beginner,1471348164
155268,0,0,0,2.0,0,0,0,0,0,0,...,153,111,0,NaN,6,1505510970,307.626,243.119,beginner,1475344896
155269,0,0,0,2.0,0,0,0,0,0,0,...,187,186,0,NaN,2,1505550515,327.695,327.695,intermediate,1419402256
155270,0,0,0,2.0,0,0,0,0,0,0,...,155,135,0,India,80,1505421849,492.546,472.190,advanced,1437724657
155271,0,0,0,4.0,0,0,0,0,1,0,...,452,425,-18,Bangladesh,32,1505562898,314.220,263.188,beginner,1439216619
155272,0,0,0,1.0,0,0,0,0,0,0,...,239,202,0,India,54,1495000704,378.154,346.044,intermediate,1438088365
155273,0,0,0,1.0,0,0,0,0,0,0,...,122,107,0,Russia,17,1505039275,559.060,559.060,advanced,1460742540
155274,0,0,0,2.0,1,1,0,0,0,1,...,791,738,-1,Germany,0,1503408876,367.833,321.674,intermediate,1424981753
155275,0,0,0,1.0,0,0,1,0,0,0,...,96,75,0,NaN,1,1504893469,325.688,257.454,beginner,1457365306
155276,0,0,0,3.0,0,0,0,0,0,1,...,108,82,0,Bangladesh,16,1505226083,308.200,213.303,beginner,1437283525
155277,0,0,0,1.0,0,0,0,0,0,0,...,141,107,0,India,15,1505561105,368.406,356.365,intermediate,1471885846
155278,0,0,0,1.0,0,0,0,0,0,0,...,557,458,7,India,30,1505573438,325.115,325.115,intermediate,1473506681
155279,0,0,0,1.0,0,0,0,0,0,1,...,148,122,0,NaN,5,1505579574,313.933,231.078,beginner,1476280641
155280,0,0,0,1.0,0,0,0,0,0,0,...,127,107,-7,India,3,1502733152,304.759,222.764,beginner,1469444000
155281,0,0,0,1.0,0,0,0,0,0,0,...,86,71,0,NaN,0,1505311224,385.034,292.144,beginner,1385060478
155282,0,0,0,1.0,0,0,0,0,0,0,...,523,433,0,Kazakhstan,54,1505468409,428.612,420.872,intermediate,1433404437
155283,0,0,0,1.0,0,0,0,0,0,0,...,1786,1701,6,Peru,180,1505100251,476.491,476.491,advanced,1326486683
155284,0,0,0,1.0,0,0,0,0,0,0,...,219,203,0,Bangladesh,47,1505292870,314.794,268.635,beginner,1416242285
155285,0,0,0,1.0,1,0,1,0,0,0,...,253,240,124,Philippines,84,1505563580,605.218,605.218,expert,1405745368
155286,0,0,0,1.0,0,0,0,0,0,1,...,156,116,0,NaN,2,1502554787,391.342,388.188,intermediate,1446311259
155287,0,0,0,2.0,0,0,0,0,0,0,...,721,661,7,Bangladesh,206,1504941017,390.768,366.112,intermediate,1413561746
155288,0,0,0,1.0,0,0,0,0,0,1,...,280,251,0,Egypt,8,1505564291,317.374,287.844,beginner,1386621378
155289,0,0,0,2.0,0,0,0,0,0,0,...,45,31,0,India,1,1498710446,304.759,192.661,beginner,1452970505
155290,0,0,0,1.0,0,0,0,0,0,0,...,226,200,0,India,17,1505584042,360.378,329.415,intermediate,1469909800
155291,0,0,0,6.0,0,0,0,0,0,0,...,583,519,-17,Bangladesh,70,1505517523,327.122,286.411,beginner,1446655021
155292,0,0,0,1.0,0,0,0,0,0,0,...,138,117,0,India,13,1504944103,318.807,252.007,beginner,1470375263
155293,0,0,0,2.0,0,0,0,0,0,1,...,185,148,0,NaN,1,1486101965,317.661,259.748,beginner,1449598352
155294,0,0,0,2.0,0,0,0,0,0,0,...,1356,1186,6,Kazakhstan,250,1505576413,506.021,492.259,advanced,1322910262

In [41]:
# Adding problem_features according to the index of problem_id

In [42]:
prob_predictors=(problem_train_data.columns[problem_train_data.columns!='problem_id'])

In [43]:
prob_predictors

submission_train_data['points']=submission_train_data['problem_id'].map(problem_train_data.set_index('problem_id')['points'])

submission_train_data.shape

Index([u'level_type', u'points', u'tags'], dtype='object')

In [46]:
len(user_predictors)

10

In [47]:
# Adding features in the test data

In [210]:
for column in user_predictors:
    X_test[column]=X_test['user_id'].map(user_train_data.set_index('user_id')[column])

In [211]:
X_test['points']=X_test['problem_id'].map(problem_train_data.set_index('problem_id')['points'])

In [212]:
X_test.shape

(66555, 53)

In [71]:
list(submission_train_data)

['*special',
 '2-sat',
 'attempts_range',
 'binary search',
 'bitmasks',
 'brute force',
 'chinese remainder theorem',
 'combinatorics',
 'constructive algorithms',
 'data structures',
 'dfs and similar',
 'divide and conquer',
 'dp',
 'dsu',
 'expression parsing',
 'fft',
 'flows',
 'games',
 'geometry',
 'graph matchings',
 'graphs',
 'greedy',
 'hashing',
 'implementation',
 'math',
 'matrices',
 'meet-in-the-middle',
 'number theory',
 'probabilities',
 'problem_id',
 'schedules',
 'shortest paths',
 'sortings',
 'string suffix structures',
 'strings',
 'tags',
 'ternary search',
 'trees',
 'two pointers',
 'user_id',
 'submission_count',
 'problem_solved',
 'contribution',
 'country',
 'follower_count',
 'last_online_time_seconds',
 'max_rating',
 'rating',
 'rank',
 'registration_time_seconds',
 'points']

In [54]:
y_train=submission_train_data['attempts_range']

In [213]:
X_test=X_test.drop('ID',1)

In [59]:
# drop the  NAN column from both X_test and train

In [65]:
submission_train_data=submission_train_data.drop('None',1)

In [214]:
X_test=X_test.drop('None',1)

In [215]:
X_test.shape

(66555, 51)

In [72]:
submission_train_data.shape

(155295, 51)

# A simple Xgboost without any external features

In [74]:
import xgboost as xgb
#from xgboost.sklearn import XGBClassifier
#from sklearn import cross_validation, metrics 
params = {
    'eta': 0.05,
    'max_depth': 5,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'objective': 'multi:softmax',
    'scoring': 'accuracy',
    'silent': 0
}

params['num_class']=7

In [136]:
# drop the problem and the user id 

#x_test_data=X_test.drop(['user_id','problem_id'],1)

In [91]:
submission_data=submission_data.drop(['attempts_range'],1)

In [79]:
bst = xgb.cv(params, dtrain, num_boost_round=100, early_stopping_rounds=40,nfold=5L,verbose_eval=10)

[0]	train-merror:0.462301+0.000795051	test-merror:0.463627+0.00234471
[10]	train-merror:0.46336+0.000611267	test-merror:0.464329+0.00292572
[20]	train-merror:0.462747+0.000478883	test-merror:0.464407+0.00272816
[30]	train-merror:0.461895+0.000609727	test-merror:0.46402+0.00275946
[40]	train-merror:0.460915+0.000623776	test-merror:0.463228+0.00247287
[50]	train-merror:0.46005+0.000434874	test-merror:0.463086+0.00225525
[60]	train-merror:0.459128+0.000781593	test-merror:0.462713+0.00222803
[70]	train-merror:0.458173+0.000933128	test-merror:0.462204+0.00222875
[80]	train-merror:0.457375+0.000976954	test-merror:0.461818+0.00206345
[90]	train-merror:0.456452+0.000917569	test-merror:0.46176+0.00199392

In [86]:
# after adding till follower frequency

In [94]:
bst = xgb.cv(params, dtrain, num_boost_round=100, early_stopping_rounds=40,nfold=5L,verbose_eval=10)

[0]	train-merror:0.463846+0.000666346	test-merror:0.465308+0.00211105
[10]	train-merror:0.463666+0.00071978	test-merror:0.46487+0.00195817
[20]	train-merror:0.462447+0.000809169	test-merror:0.464168+0.00198312
[30]	train-merror:0.461776+0.000936433	test-merror:0.463717+0.00240516
[40]	train-merror:0.461051+0.000706568	test-merror:0.463395+0.00253762
[50]	train-merror:0.460184+0.000664775	test-merror:0.462874+0.00249212
[60]	train-merror:0.459212+0.000591094	test-merror:0.462597+0.00234265
[70]	train-merror:0.458172+0.000641366	test-merror:0.462166+0.00209666
[80]	train-merror:0.457289+0.000743144	test-merror:0.461889+0.00233581
[90]	train-merror:0.456319+0.000820374	test-merror:0.461547+0.00231777

In [105]:
bst = xgb.cv(params, dtrain, num_boost_round=100, early_stopping_rounds=40,nfold=5L,verbose_eval=10)

[0]	train-merror:0.463714+0.000564896	test-merror:0.465134+0.00212644
[10]	train-merror:0.463861+0.00134521	test-merror:0.465179+0.00240838
[20]	train-merror:0.462876+0.000822793	test-merror:0.464748+0.00244844
[30]	train-merror:0.462035+0.000780212	test-merror:0.464033+0.00242621
[40]	train-merror:0.461074+0.000729682	test-merror:0.46366+0.00245158
[50]	train-merror:0.460084+0.000609252	test-merror:0.463009+0.00238073
[60]	train-merror:0.459104+0.000673754	test-merror:0.462603+0.00222985
[70]	train-merror:0.458127+0.000716886	test-merror:0.462204+0.00235421
[80]	train-merror:0.457078+0.000980225	test-merror:0.461618+0.00237755
[90]	train-merror:0.456306+0.000898972	test-merror:0.461412+0.00258528

In [138]:
bst = xgb.cv(params, dtrain, num_boost_round=100, early_stopping_rounds=40,nfold=5L,verbose_eval=10)

[0]	train-merror:0.463879+0.000788239	test-merror:0.464838+0.00316826
[10]	train-merror:0.46347+0.000815404	test-merror:0.464748+0.00226449
[20]	train-merror:0.462682+0.000736459	test-merror:0.464052+0.00268188
[30]	train-merror:0.461697+0.00064403	test-merror:0.463602+0.0025157
[40]	train-merror:0.460783+0.0006999	test-merror:0.46299+0.00247131
[50]	train-merror:0.459905+0.000742975	test-merror:0.46281+0.00230256
[60]	train-merror:0.458777+0.000704877	test-merror:0.462629+0.00226423
[70]	train-merror:0.457845+0.000659728	test-merror:0.462108+0.00224424
[80]	train-merror:0.45685+0.000616323	test-merror:0.46174+0.00226464
[90]	train-merror:0.455906+0.000556847	test-merror:0.461444+0.00245492

# Feature engineering

In [81]:
submission_train_data['growth']=abs(submission_train_data['rating']-submission_train_data['max_rating'])

submission_train_data['brilliant']=submission_train_data['growth'].apply(lambda x: 1 if x>=200 else 0)

In [216]:
X_test['growth']=abs(X_test['rating']-X_test['max_rating'])

X_test['brilliant']=X_test['growth'].apply(lambda x: 1 if x>=200 else 0)

In [84]:
submission_train_data['contribution_frequency']=submission_train_data['contribution']/submission_train_data['registration_time_seconds']
submission_train_data['contribution_per_submission']=submission_train_data['contribution']/submission_train_data['problem_solved']

submission_train_data['follower_frequency']=submission_train_data['follower_count']/submission_train_data['registration_time_seconds']

In [217]:
X_test['contribution_frequency']=X_test['contribution']/X_test['registration_time_seconds']
X_test['contribution_per_submission']=X_test['contribution']/X_test['problem_solved']

X_test['follower_frequency']=X_test['follower_count']/X_test['registration_time_seconds']

In [95]:
submission_train_data['sol_accuracy']=submission_train_data['problem_solved']/submission_train_data['submission_count']

In [218]:
X_test['sol_accuracy']=X_test['problem_solved']/X_test['submission_count']

In [101]:
#problems per day

In [102]:
submission_train_data['solver_frequency']=submission_train_data['problem_solved']/submission_train_data['registration_time_seconds']

In [106]:
# the ratio of problem difficulty and user_rank may be a very good estimator

In [109]:
submission_train_data['rank']=submission_train_data['user_id'].map(user_train_data.set_index('user_id')['rank'])

In [122]:
counts=submission_train_data['rank'].value_counts

In [125]:
set(submission_train_data['rank'])

{'advanced', 'beginner', 'expert', 'intermediate'}

In [126]:
#Replace according to the level

In [129]:
submission_train_data['rank']=submission_train_data['rank'].replace('advanced',4)

In [130]:
submission_train_data['rank']=submission_train_data['rank'].replace('advanced',4)
submission_train_data['rank']=submission_train_data['rank'].replace('expert',3)
submission_train_data['rank']=submission_train_data['rank'].replace('intermediate',2)
submission_train_data['rank']=submission_train_data['rank'].replace('beginner',1)

In [131]:
submission_train_data['ratio']=submission_train_data['points']/submission_train_data['rank']

In [135]:
submission_train_data['rank']

0         1
1         1
2         1
3         2
4         4
5         4
6         2
7         2
8         2
9         1
10        4
11        2
12        4
13        4
14        4
15        1
16        4
17        1
18        2
19        1
20        3
21        2
22        1
23        2
24        2
25        4
26        4
27        1
28        2
29        1
         ..
155265    1
155266    2
155267    1
155268    1
155269    2
155270    4
155271    1
155272    2
155273    4
155274    2
155275    1
155276    1
155277    2
155278    2
155279    1
155280    1
155281    1
155282    2
155283    4
155284    1
155285    3
155286    2
155287    2
155288    1
155289    1
155290    2
155291    1
155292    1
155293    1
155294    4
Name: rank, Length: 155295, dtype: int64

In [132]:
submission_train_data['ratio']

0         1000.000000
1         1500.000000
2          500.000000
3          250.000000
4          500.000000
5          500.000000
6          500.000000
7          500.000000
8                 NaN
9         1000.000000
10         375.000000
11         750.000000
12         250.000000
13         125.000000
14                NaN
15        1500.000000
16                NaN
17         500.000000
18         250.000000
19                NaN
20         833.333333
21         250.000000
22        2000.000000
23                NaN
24         250.000000
25         250.000000
26                NaN
27                NaN
28         750.000000
29        1000.000000
             ...
155265            NaN
155266     375.000000
155267    1500.000000
155268     500.000000
155269     875.000000
155270     375.000000
155271    1000.000000
155272     500.000000
155273     125.000000
155274     500.000000
155275     500.000000
155276    1000.000000
155277     250.000000
155278    1000.000000
155279    1000.000000
155280     500.000000
155281     500.000000
155282    1500.000000
155283     375.000000
155284     500.000000
155285     166.666667
155286     500.000000
155287     250.000000
155288    1000.000000
155289    1000.000000
155290     250.000000
155291    2500.000000
155292    1500.000000
155293    1000.000000
155294            NaN
Name: ratio, Length: 155295, dtype: float64

In [ ]:
# load the test data

In [139]:
test_data=pd.read_csv('train/test_submissions_NeDLEvX.csv')

In [219]:
X_test['solver_frequency']=X_test['problem_solved']/X_test['registration_time_seconds']

In [220]:
X_test['rank']=X_test['user_id'].map(user_train_data.set_index('user_id')['rank'])

In [221]:
X_test['rank']=X_test['rank'].replace('advanced',4)
X_test['rank']=X_test['rank'].replace('expert',3)
X_test['rank']=X_test['rank'].replace('intermediate',2)
X_test['rank']=X_test['rank'].replace('beginner',1)

In [144]:
submit_data=pd.read_csv('train/sample_submissions_wbscxqU.csv')

In [222]:
X_test['ratio']=X_test['points']/X_test['rank']

In [223]:
X_test.shape

(66555, 59)

In [227]:
X_test=X_test.drop('nan',1)

In [228]:
list(X_test)

['*special',
 '2-sat',
 'binary search',
 'bitmasks',
 'brute force',
 'chinese remainder theorem',
 'combinatorics',
 'constructive algorithms',
 'data structures',
 'dfs and similar',
 'divide and conquer',
 'dp',
 'dsu',
 'expression parsing',
 'fft',
 'flows',
 'games',
 'geometry',
 'graph matchings',
 'graphs',
 'greedy',
 'hashing',
 'implementation',
 'math',
 'matrices',
 'meet-in-the-middle',
 'number theory',
 'probabilities',
 'problem_id',
 'schedules',
 'shortest paths',
 'sortings',
 'string suffix structures',
 'strings',
 'tags',
 'ternary search',
 'trees',
 'two pointers',
 'user_id',
 'submission_count',
 'problem_solved',
 'contribution',
 'country',
 'follower_count',
 'last_online_time_seconds',
 'max_rating',
 'rating',
 'rank',
 'registration_time_seconds',
 'points',
 'growth',
 'brilliant',
 'contribution_frequency',
 'contribution_per_submission',
 'follower_frequency',
 'sol_accuracy',
 'solver_frequency',
 'ratio']

In [226]:
list(submission_train_data)

['*special',
 '2-sat',
 'attempts_range',
 'binary search',
 'bitmasks',
 'brute force',
 'chinese remainder theorem',
 'combinatorics',
 'constructive algorithms',
 'data structures',
 'dfs and similar',
 'divide and conquer',
 'dp',
 'dsu',
 'expression parsing',
 'fft',
 'flows',
 'games',
 'geometry',
 'graph matchings',
 'graphs',
 'greedy',
 'hashing',
 'implementation',
 'math',
 'matrices',
 'meet-in-the-middle',
 'number theory',
 'probabilities',
 'problem_id',
 'schedules',
 'shortest paths',
 'sortings',
 'string suffix structures',
 'strings',
 'tags',
 'ternary search',
 'trees',
 'two pointers',
 'user_id',
 'submission_count',
 'problem_solved',
 'contribution',
 'country',
 'follower_count',
 'last_online_time_seconds',
 'max_rating',
 'rating',
 'rank',
 'registration_time_seconds',
 'points',
 'growth',
 'brilliant',
 'contribution_frequency',
 'contribution_per_submission',
 'follower_frequency',
 'sol_accuracy',
 'solver_frequency',
 'ratio']

In [224]:
submission_train_data.shape

(155295, 59)

In [229]:
submit_data['ID']=test_data['ID']

In [158]:
submit_data['ID']

0         user_856_prob_5822
1        user_2642_prob_2334
2        user_2557_prob_2920
3        user_1572_prob_4598
4         user_295_prob_6139
5        user_1202_prob_6253
6        user_1017_prob_2630
7        user_2907_prob_6360
8        user_3473_prob_4350
9         user_401_prob_1966
10         user_689_prob_791
11        user_285_prob_5518
12        user_367_prob_4425
13       user_1580_prob_1728
14       user_1562_prob_6500
15       user_2464_prob_2429
16       user_3519_prob_4971
17       user_1620_prob_2998
18       user_1207_prob_3335
19        user_792_prob_6173
20         user_3380_prob_51
21       user_1160_prob_5804
22       user_2860_prob_5661
23       user_1086_prob_4967
24       user_1356_prob_3508
25        user_344_prob_5186
26        user_3166_prob_574
27        user_1559_prob_767
28         user_56_prob_2872
29       user_1691_prob_5781
                ...
66525    user_2183_prob_4979
66526    user_1279_prob_3204
66527    user_1959_prob_5555
66528     user_362_prob_3413
66529    user_1377_prob_6368
66530     user_913_prob_6321
66531    user_2944_prob_3647
66532     user_1756_prob_612
66533    user_3005_prob_1431
66534    user_2602_prob_4672
66535     user_394_prob_6304
66536     user_519_prob_4125
66537    user_3033_prob_4425
66538     user_764_prob_1534
66539       user_196_prob_32
66540     user_238_prob_2754
66541     user_926_prob_5642
66542    user_2032_prob_4060
66543    user_2008_prob_3935
66544     user_705_prob_5206
66545    user_1974_prob_3847
66546    user_2650_prob_2461
66547    user_3549_prob_2494
66548    user_1090_prob_4132
66549     user_315_prob_5406
66550    user_1551_prob_2949
66551    user_2617_prob_6266
66552     user_799_prob_1800
66553     user_1265_prob_137
66554     user_474_prob_6497
Name: ID, Length: 66555, dtype: object

In [159]:
# Train and submit the model

In [160]:
submission_data=submission_train_data.drop(['user_id','problem_id','attempts_range'],1)
submission_data=submission_data.drop(['tags','country'],1)
dtrain = xgb.DMatrix(data=submission_data, label=y_train)

In [230]:
X_test=X_test.drop(['tags','country','user_id','problem_id'],1)

In [231]:
X_test_f=X_test

In [194]:
model=xgb.train(params,dtrain)

In [235]:
X_test=xgb.DMatrix(X_test)

In [232]:
X_te(X_test)

In [236]:
submit_data['attempts_range']=model.predict(X_test)

In [242]:
submit_data.to_csv('first_submit.csv')

In [240]:
submit_data[submit_data['attempts_range']==3]

Empty DataFrame
Columns: [ID, attempts_range]
Index: []

In [241]:
y_train[y_train>=3]

1         3
27        4
33        3
37        3
41        4
53        3
59        3
63        3
72        3
93        3
94        3
95        3
96        5
98        4
101       3
111       4
117       3
126       6
129       3
135       4
154       3
166       4
169       4
170       6
181       3
183       4
185       5
199       6
200       4
214       3
         ..
155057    3
155059    6
155063    4
155078    3
155080    6
155096    4
155105    6
155113    3
155117    3
155125    6
155142    5
155150    3
155151    3
155153    3
155156    4
155166    3
155168    3
155173    3
155183    3
155184    3
155190    4
155195    3
155202    3
155213    6
155219    3
155223    6
155248    6
155271    4
155276    3
155291    6
Name: attempts_range, Length: 25171, dtype: int64